[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=/usr/bin/kanata --cfg /home/rodrigo/dotfiles/kanata/config.kbd
Restart=no

[Install]
WantedBy=default.target

